---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="EduTrack - Your course tracking for Teachers">
	<section>
		<h2>Bienvenido a EduTrack</h2>
		<p>
			EduTrack es una aplicación diseñada para ayudar a los profesores a llevar
			un control eficiente de sus cursos y alumnos. Con EduTrack, podrás
			gestionar tus clases, asignar tareas y hacer un seguimiento del progreso
			de tus estudiantes de manera sencilla y efectiva.
		</p>
	</section>
</Layout>

<style>
	section {
		padding: 2rem;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.5;
	}
</style>
